<!DOCTYPE html>
<html>
<head>
    <title>{{(title .Title)}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="180x180" href="{{webpackURL "favicon/apple-touch-icon.png"}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{webpackURL "favicon/favicon-32x32.png"}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{webpackURL "favicon/favicon-16x16.png"}}">
    <link rel="manifest" href="{{webpackURL "favicon/site.webmanifest"}}">
    <link rel="mask-icon" href="{{webpackURL "favicon/safari-pinned-tab.svg"}}" color="#000000">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" media="all" href="{{webpackURL "vendor.css"}}">
    <link rel="stylesheet" media="all" href="{{webpackURL "main.css"}}">
</head>
<body>
<section class="layout">
    <header class="layout">
        <a href="/"><img class="logo" src="{{webpackURL "images/logo.png"}}"/></a>

        <nav>
            {{$navItems := stringSliceMake "Reading" "About"}}
            {{range $navItems}}
                <a href="/{{toLower .}}">{{.}}</a>
            {{end}}
        </nav>
    </header>
    <section class="content">
        {{template "content" .ContentData}}
    </section>
</section>
</body>
</html>
