section.reading {
  table.legend {
    font-size: $small;

    .rating_count {
      @include container_spaced(0.5em);
      align-items: center;

      color: $ink_light;
      font-size: $tiny;

      .bar {
        margin-top: $tiny/6;
        height: $tiny/3;
        background-color: $ink;
      }
    }

    td {
      padding-left: 1em;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

section.books {
  margin-top: 1em;
  font-size: $small;

  article.book {
    margin-bottom: 1em;
  }
}