<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" media="all" href="{{Webpack "vendor.css"}}">
    <link rel="stylesheet" media="all" href="{{Webpack "main.css"}}">
</head>
<body>
<section class="layout">
    <header class="layout">
        <a href="/"><img class="logo" src="{{Webpack "images/logo.png"}}"/></a>

        <nav>
        {{$navItems := Slice "Posts" "Reading"}}
        {{range $navItems}}
            <a href="/{{ToLower .}}.html">{{.}}</a>
        {{end}}
        </nav>
    </header>
    <section class="content">
        {{template "content"}}
    </section>
</section>
</body>

<script src="{{Webpack "main.js"}}"></script>
</html>