{{define "content"}}
    <section class="post">
        <header class="main">
            <h1>{{.Title}}</h1>
            <div class="date">{{DateFormat .PublishedAt}}</div>
        </header>
        {{HtmlSafe .MarkdownHTML}}
    </section>
{{end}}