{{define "content"}}
	{{markdown "posts.md"}}

    <section class="posts">
        {{scratch.Set "currentYear" 0}}
        {{range .Posts}}
            {{if ne (scratch.Get "currentYear") .PublishedAt.Year}}
                {{scratch.Set "currentYear" .PublishedAt.Year}}
                <h2>{{.PublishedAt.Year}}</h2>
            {{end}}
            <article class="post">
                <header>
                    <a href="/{{.Filename}}"><h3>{{.Title}}</h3></a>&nbsp;
                    <span class="published_at">{{dateFormat .PublishedAt}}</span>
                </header>
                {{.Description}}
            </article>
        {{end}}
    </section>
{{end}}